.add-patient-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.add-patient-card {
  width: 80%;
  max-width: 900px;
  padding: 20px;
}
.divider {
  margin: 15px 0 25px 0; /* Adds space above and below divider */
}

.patient-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

mat-form-field {
  flex: 1;
  min-width: 200px;
}

.gender-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.address-block {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  background: #fafafa;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}
section {
  display: flex;
  align-items: center;
}



.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
